* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  height: 85%;
  width: 90%;
  margin: 4px 2px 0px 2px;
}

h1 a {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 20px;
  text-align: center;
}
